
<h1>Cadastro de Pessoas</h1><p>
  <form ngForm name = cadastro>
    Nome: <input type = "text" name = nome [(ngModel)] = "nome" >
    Idade : <input type = "text" name = idade [(ngModel)] = "idade" >
    <button (click)= "cadastrar()">OK</button>
  </form>
  <ul>
    <li *ngFor = "let pessoa of pessoas">
      {{pessoa.nome}}, {{pessoa.idade}}
      <button (click) = "excluir(pessoa)"> Excluir </button>
  </ul>
  Total de Pessoas Cadastradas:{{totalPessoas}}
  <div *ngIf = "!null && maisVelho && maisNovo">
    Pessoa mais velha: {{maisVelho.nome}}, com: {{maisVelho.idade}}.
    Pessoa mais nova: {{maisNovo.nome}}, com: {{maisNovo.idade}}.
  </div>
